@tailwind base;
@tailwind components;
@tailwind utilities;
.imageopacity{
  background-repeat: no-repeat;
  
  
}
.card-title {
  max-w: 96%; /* adjust the value based on your design */
  word-break: break-word;
}